#------------------------------------------------------------------------------
#
# Denne koden forvaltes av:   Team Komreg
# Dokumentasjon:              https://kartverket.atlassian.net/wiki/spaces/TKR/overview
# Virksomhetsapplikasjon:

* @kartverket/komreg